<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <div class="flex flex-wrap items-center justify-center gap-3">
        <div class="h-16 w-16">
          <img class="h-full w-full rounded-full object-cover object-center ring ring-white" src="<%= asset_path( 'enqz.jpg' ) %>" alt="Daniel Enqz">
        </div>
        <div>
          <a href="" class="text-xl text-secondary-500 hover:text-teal-400 font-bold sm:truncate sm:text-3xl">@daniel_enqz</a>
        </div>
      </div>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Back End Developer</h2>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <button type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Edit</button>
    <button type="button" class="ml-3 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Publish</button>
  </div>
</div>
