.flatpickr-calendar-custom {
  .flatpickr-calendar,
  .dayContainer,
  .flatpickr-days,
  .flatpickr-day {
    width: 100%;
    max-width: 100%;
  }

  // Calendar Behavior
  .flatpickr-calendar {
    background-color: rgba(255,255,255,0.5);
    margin-top: 20px;
    border-radius: 25px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  // Liitle Arrow Behavior
  .flatpickr-calendar.arrowBottom:after, .flatpickr-calendar.arrowBottom:before {
    border-bottom-color: transparent;
    border-top-color: transparent;
  }


  // Time Behavior
  .flatpickr-time, .flatpickr-time::after, .flatpickr-time::before {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    --tw-scale-x: 0;
    --tw-scale-y: 0;
  }

  .numInput {
    --tw-ring-shadow: 0 0 #0000;
  }

  .flatpickr-hour {
    border-bottom-left-radius: 25px;
  }

  // General days
  .flatpickr-day {
    font-weight: 700;
    border-radius: 25px;
    border-color: transparent;
  }

  // Disabled Behavior
  .flatpickr-disabled, .flatpickr-disabled:hover {
      background: transparent;
      color: rgb(57, 57, 57);
      border-color: transparent;
    }

  // Today Behavior
  .flatpickr-day.today:hover, .flatpickr-day.today:focus {
    background: #5D5FEF;
    color: rgb(255, 255, 255);
  }

  span.flatpickr-day.today:not(.selected){
    border-color: #e8e8e9;
  }

  // Selected Behavior
  .flatpickr-day.selected, .flatpickr-day.selected:hover, .flatpickr-day.selected:focus {
    background-color: rgb(236, 253, 245);
    border: 1px solid rgb(110, 231, 183);
    color: #000;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  // Hover Behavior
  span.flatpickr-day.today:not(.selected):hover, span.flatpickr-day.prevMonthDay.today:not(.selected):hover, span.flatpickr-day.nextMonthDay.today:not(.selected):hover {
    border: 1px solid #ffffff;
  }

  &.selected:focus {
    outline: none;
  }
}
