<div class="mb-4 rounded-md bg-green-50 p-4 text-xl text-green-500 animate-pulse flex justify-between" data-controller="alert" data-alert-target="thankYouAlert">
  <div>
    <i class="fa-solid fa-circle-check mr-1"></i>
    <b>Success</b>
    <p>Thanks for being here.</p>
  </div>
  <div>
    <button type="button" class="inline-flex items-center duration-300 text-lg font-bold text-teal-500 transition-all hover:text-teal-900" data-action="alert#close">
      <i class="mr-2 fa-solid fa-times"></i>
    </button>
  </div>
</div>
