<nav aria-label="breadcrumb" id="breadcrumb">
  <ol class="inline-flex items-center space-x-7 py-2 text-lg">
    <li class="inline-flex items-center">
      <div class="flex flex-wrap items-center justify-center gap-3">
        <div class="h-16 w-16">
          <img class="h-full w-full rounded-full object-cover object-center ring ring-white" src="<%= asset_path( 'enqz.jpg' ) %>" alt="Daniel Enqz">
        </div>
        <div>
          <a href="" class="text-xl text-secondary-500 hover:text-teal-400 font-bold">@daniel_enqz</a>
          <div class="text-lg text-secondary-400 font-semibold">Software Engineer</div>
        </div>
      </div>
    </li>
    <li class="inline-flex items-center space-x-4">
      <span class="text-secondary-400">/</span>
      <a class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-lg font-semibold text-gray-700 shadow-none transition-all hover:bg-gray-100 hover:text-teal-500 disabled:bg-transparent disabled:text-gray-400">
        <i class="mr-2 fa-solid fa-paper-plane"></i>Curriculum
      </a>
    </li>
    <li class="inline-flex items-center space-x-4">
      <span class="text-secondary-400">/</span>
      <a href="https://github.com/daniel-enqz" target="_blank" class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-lg font-semibold text-gray-700 shadow-none transition-all hover:bg-gray-100 hover:text-purple-500 disabled:bg-transparent disabled:text-gray-400">
        <i class="mr-2 fa-brands fa-github"></i> GitHub
      </a>
    </li>
    <li class="inline-flex items-center space-x-4">
      <span class="text-secondary-400">/</span>
      <a href="https://www.linkedin.com/in/daniel-enqz/" target="_blank" class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-lg font-semibold text-gray-700 shadow-none transition-all hover:bg-gray-100 hover:text-blue-500 disabled:bg-transparent disabled:text-gray-400">
        <i class="mr-2 fa-brands fa-linkedin"></i>Linkedin
      </a>
    </li>
    <li class="inline-flex items-center space-x-4">
      <span class="text-secondary-400">/</span>
      <a href="https://twitter.com/Daniel__enqz" target="_blank" class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-lg font-semibold text-gray-700 shadow-none transition-all hover:bg-gray-100 hover:text-sky-400 disabled:bg-transparent disabled:text-gray-400">
        <i class="mr-2 fa-brands fa-twitter"></i>Twitter
      </a>
    </li>
    <li class="inline-flex items-center space-x-4">
      <span class="text-secondary-400">/</span>
      <a href="mailto:dan17.em@gmail.com" target="_blank" class="rounded-lg border border-transparent bg-transparent px-5 py-2.5 text-center text-lg font-semibold text-gray-700 shadow-none transition-all hover:bg-gray-100 hover:text-rose-500 disabled:bg-transparent disabled:text-gray-400">
        <i class="mr-2 fa-solid fa-envelope"></i>Mail
      </a>
    </li>
  </ol>
</nav>
