<div class="mt-5 mr-20 flex flex-col">
    <p class="text-3xl font-bold mb-10">Hello, </p>
    <%= link_to "Projects", projects_path, class: "text-3xl font-light hover:font-medium mb-5" %>
    <%= link_to "Stack", stack_path, class: "text-3xl font-light hover:font-medium mb-5" %>
    <%= link_to "About", about_path, class: "text-3xl font-light hover:font-medium mb-5" %>
  </div>
