<div class="bg-white p-8 rounded shadow">
  <h1 class="text-2xl font-bold">Ready to start learning?</h1>
  <p class="text-gray-600">Dear <%= @request.first_name %>,</p>
  <p class="text-gray-900 text-bold">Your request was received</p>
  <p class="text-gray-600">Subject: <%= @request.subject %>.</p>
  <p class="text-gray-600">Message: <%= @request.message %>.</p>
  <p class="text-gray-600">See you on: <%= @request.date %>.</p>
  <p class="text-gray-600">We will get back to you soon.</p>
  <p class="text-gray-600">Best regards,</p>
  <p class="text-gray-600">@daniel_enqz</p>
</div>
