<div class="relative mx-auto max-w-xl">
  <%= render "requests/form_components/title" %>
  <div class="mt-12">
    <%= form_with model: request, url: requests_path, method: :post, local: true, class: "grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8", data: { controller: "form--validator" } do |f| %>
      <%= render partial: "requests/form_components/fields", locals: { f: f } %>
    <% end %>
  </div>
</div>
