<%= render partial: "shared/flash_messages", locals: { flash: flash } %>

<div data-controller="tabs">
  <%= render "tabs" %>
  <%= render "requests/request", request: @request %>
  <%= render "reviews/review", review: @review %>
</div>
