<div class="text-center">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex items-center justify-center">
    1:1 Coding Session
    <%= inline_svg_tag "extra/terminal.svg", class: "inline-block w-11 h-11 ml-1" %>
  </h2>
  <p class="mt-4 text-lg leading-6 text-gray-500">Lectures, coding guidance, project reviews, and more.</p>
</div>
