<div class="absolute inset-0">
  <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
</div>
<div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
  <%= render "reviews/form_components/title" %>
  <div class="bg-white py-16 px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
    <div class="mx-auto max-w-lg lg:max-w-none">
      <%= form_with model: review, url: reviews_path, method: :post, local: true, data: { controller: "form--validator", "form--validator-target": "form" } do |f| %>
        <%= render partial: "reviews/form_components/fields", locals: { f: f } %>
      <% end %>
    </div>
  </div>
</div>
