/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* Components File*/







/* General Style Rules for fonts and colors*/
body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
}

/*---------------------------------------------------------------------CLASSES*/
/*---------------------------------------------------MAIN CONTAINERS*/
.page-content {
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.sidebar-inline {
  list-style: none;
	padding-left: 20px;
  font-weight: bold;
  font-size: 25px;
  line-height : 70px;
  
}

.container {
  width: 800px; /* set the width of your container */
  margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
}

.container :hover{
  transition: 1s ease;
  transform: translateX(2rem);
}

.card-white {
  background: white;                         /* White background */
  padding: 30px;
  margin: 20px;                             /* Internal space */
  border-radius: 7px;                        /* Small radius */
  box-shadow: 0 10px 30px rgb(114, 110, 110);    /* Light shadow */
  }

.card-white :hover{
  transform: none;
}

/*---------------------------------------------------DROPBTN/*/

/*------------------------------DROP BOX LAYOUT/*/
.dropdown {
  position: relative;
  display: inline-block;
}
/*------------------------------MAIN BUTTON/*/
.dropbtn {
  visibility: hidden;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
}

/*------------------------------DROP HOVER BUTTON DESIGN/*/
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: black;
  transition: 1s ease;
  transform: translateY(-0.5rem);
}

/*------------------------------DROP CONTENT LAYOUT/*/
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/*------------------------------DROP CONTENT DESIGN/*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bolder;
}

/*------------------------------DROP HOVER CONTENT DESIGN/*/
.dropdown-content a:hover {background-color: #00c3ff}

/*------------------------------DROP HOVER DISPLAY OFF FOR BIG SCREEN/*/
.dropdown:hover .dropdown-content {
  display:none;
}



/*----------------------------------------------------------------KEYFRAMES*/
/*-------------------------------------KEY FRAME FOR SIDEBAR GRADIENT ANIMATION*/
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*---------------------------------------------------MEDIA QUERY RESPONSIVENESS*/

@media (max-width: 1100px) {
  /* For a screen < 900px, this CSS will be read */
  .page-content #newsletter{
    width: 500px;
  }
  .container {
    width: 500px;
  }
  .page-content {
    margin-left: 0px;
  }

  .sidebar {
    display: none;
  }

  .dropbtn {
    visibility:visible;
    position: fixed;
    bottom:20px; 
    right:30px;
  }

  .dropdown-content{
    position: fixed;
    bottom:80px; 
    right:20px;
  }
  
  .dropdown:hover .dropdown-content {
    display:grid;
  }

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  }
}


@media (max-width: 690px) {
  /* For a screen < 680px, this CSS will be read */
  .container {
    width: 500px;
  }

  .page-content #newsletter{
    width: 400px;
    text-align:left;
  }

  .container #profile_image {
  width: 139.625px;
  height: 209.1875px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
  }
}


@media (max-width: 550px) {
  /* For a screen < 680px, this CSS will be read */
  .container {
    width: 400px;
  }

  .page-content #newsletter{
    width: 350px;
    text-align:left;
  }
}


/*---------------------------------------------------DESIGN CLASSES*/
.slogan{
  color: black;
}

.text-blue{
  color: #003cff;
}

.text-center{
  text-align: center;
}

.font-weight{
  font-weight: bolder;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li{
  display: inline;
  padding: 10px;
}

.list-inline i {
  font-size: 50px;
  color:black;
}

a:link, a:visited, a:active{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover{
  transform: translateX(1rem);
  color: #000000;
  transition: 0.5s ease;
}



/*---------------------------------------------------ID'S*/
#profile_image {
  width: 279.25px;
  height: 418.375px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
}

#linkedin :hover{
  color:#0077B5;
  transition: color 1s ease;
}

#github :hover{
  color:#3c09f4;
  transition: color 1s ease;
}

#name_heading{
  font-weight: 600;
  color: #072227;
  font-size: 30px;
  font-weight: bold;
}

#newsletter{
  width: 750px; /* set the width of your container */
  margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
  background-color: #000000;
  color: #00a6ff;
}

#intro{
  font-size: 20px;
}

